# Organized+extended by Lex-DRL: https://github.com/Lex-DRL/git-template-gamedev

# Common
# ----------------------------

# Temp files/folders:
*.tmp
*.temp
tmp*/
temp*/

# Programming - general
*.log

# OS-generated - Windows
# ----------------------------

[Tt]humbs.db
[Dd]esktop.ini

# OS-generated - Apple
# ----------------------------

.DS_Store*
.AppleDouble
.LSOverride

# ... and thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================================================================== #
# 	Repo-specific
# =========================================================================== #
# add here
/bld
/*.img
